.content {
    display: flex;
    background-color: rgb(20 20 20);

    .info {
        max-width: 950px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 15px auto 15px auto;
        padding: 0px 10px 0px 10px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 10px 15px 10px;

    .info-titulo {
        font-size: 20px;
        color: #c39a46;
    }

}
