<div class="conteiner">
    <p class="titulo">Sobre mim</p>
    <p class="info">
        Meu nome é Gabriel Porto Lacerda e sou um desenvolvedor de software Full Stack. Formado em Sistemas de
        Informação pela faculdade UNA, tenho
        experiência na criação de aplicativos web e móveis, desde a concepção até a implementação e aprimoramento
        contínuo. Estou sempre em busca de aprender e aplicar as mais recentes tendências e ferramentas no mundo da
        programação. Estou entusiasmado em contribuir para projetos inovadores e colaborar para construir experiências
        digitais excepcionais. Mal posso esperar para transformar ideias em código e ver a tecnologia ganhar vida. Estou
        à disposição para discutir como posso contribuir para o sucesso do seu próximo projeto.
    </p>
</div>