<div class="conteiner">
    <div class="top-bar">
        <div class="name">
            <p class="nameF">Gabriel</p>
            <p class="nameL">Porto</p>
        </div>
        <nav class="menu" style="display: none;">
            <a class="opcao-menu">Inicio</a>
            <a class="opcao-menu">Sobre mim</a>
            <a class="opcao-menu">Skills</a>
            <a class="opcao-menu">Contato</a>
        </nav>
    </div>
    <div class="info-header">
        <div class="text-header">
            <p class="titulo-text-header">Desenvolvedor Full Stack</p>
            <p class="info-text-header">Ser um desenvolvedor é dar vida às ideias por meio do código, construindo o futuro digital com
                criatividade e
                habilidade.</p>
        </div>
        <div class="img">
            <img alt="Gabriel Porto" src="../../../assets/img/GabrielPorto.png">
        </div>
    </div>
</div>